

.container-about  {
    display: flex;
    background-image: url('../../assets/bgabout.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    min-height: 708px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  
}
.container-content  {
    max-width: 1080px;
}
.description{
    padding: 30px;
    font-weight: 400;
    color: #ffffff;
    font-size: 25px;
    text-align: justify;   
}

.title{
    font-size: 64px;
    color: #FCF8F8
}

.subtitle{
    font-size: 36px;
    color: #AAAAAA
}
.perfil {
    display: flex;
    justify-content: center;
}


