.footer-container {
    background-color:#f8f8f8;
    width: 100%;
    margin: 0;
    padding-top: 20px;
  }
.footer-container p {
  font-size: 16px;
  color: #282a36;
  font-weight: 500;
}
.footer-container li {
  list-style:none; 
  font-size: 18px;
  margin-bottom: 4px;
}
.footer-container li:hover {
  cursor: pointer;
  color:  #50fa7b;
  
}

  

  .card-footer{
   background-color: #282a36;
   box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.99);
  }
  .card-footer p{
    color:#f8f8f8 ; 
    font-size: 18px; 
   }
   .copyright-style {
     margin-top: 20px;
   }
  
