.footer-container {
    display: flex;
    background-color:#f8f8f8;
    position: sticky;
    top: 0px;
    width: 100%;
    justify-content: center;
    z-index: 1000;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.99);
    margin-top: 30px;
   
  }
  
  

  .footer-content {
    display: flex;
    background-color:#f8f8f8;
    position: sticky;
    top: 0px;
    justify-content: center;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.99);
    margin-top: 30px;
    width: 100%;
    margin: 0 auto;
  }
  
