@import url('https://fonts.googleapis.com/css2?family=Flamenco:wght@300;400&family=Roboto:wght@300;400;500;900&display=swap');

*{
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;

}

body {
    font : 400 14px  Flamenco, sans-serif;
    background: #282A36;
    -webkit-font-smoothing : antialiased;
    
}

input,button,textarea {
    font: 400 18px Flamenco,sans-serif;
}

button {
    cursor: pointer;
}
form input {
    max-width: 100%;
    height: 35px;
    background-color: #282A36;
    border-color: #44475A;
    border :1 ;
    border-style: solid solid solid solid;
    padding: 3px;
    color: #f8f8f8;
    margin-bottom: 10px;

}
.button {
    color: #44475A;
    background-color: #50FA7B;
    height: 30px;
    width: 100%;
    max-width: 200px;
    border-radius: 4px;
    border: 0;
    font-weight: 700;
    display: inline-block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    transition: filter 0.2s;

}
.button:hover {
    filter: brightness(80%);
}
form select {
    max-width: 100%;
    height: 35px;
    background-color: #282A36;
    border-color: #44475A;
    border :1 ;
    border-style: solid solid solid solid;
    padding: 3px;
    color: #f8f8f8;
    margin-bottom: 10px;

}
form textarea {
    width: 100%;
    height: 100%;
    background: #282A36;
    border-color: #44475A;
    padding: 3px;
    color: #f8f8f8;
    margin-bottom: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}