
.container-service  {
    display: flex;
    width: 100%;
    max-width: 1020px;
    justify-content: center;
    padding-left: 20px 30px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 20px;

}
.container-service h1 {
    color:#f8f8f8;
    margin-top: 15px;
} 
.container-detail-service {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    
}

.container-detail-service div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.container-detail-service div + div {
    margin-left: 100px;
}

.container-detail-service  h3{
    color: #50FA7B;
    font-weight:500 ;
    margin-left: 0px;
}
.container-detail-service  p{
    color: #f8f8f8;
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.container-service-img {
    width: 100%;
    background-image: url('../../assets/web-dev.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.container-service-img-1 {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/mob-dev.png');
    height: 100%;
    background-position: center;

}
.container-service-img-2 {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../../assets/logo-cart.png');
    height: 200px;
    background-position: center;
}

.container-detail-service-tecnologies{
    width: 100px;
    height: 150px;
    margin-top: 60px;
}


.container-framework {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1080px;
    align-content: center;
    margin-top: 20px;
    padding: 50px;
}




